


/*
table tr, label {font-size: 14px;}


.white, .white a {
  color: #fff;
}

.panel-heading{
	display: table;
	width: 100%;
}

.side-menu li{
	background: #f00 !important;
}*/

.breadcrumb{margin-bottom: 0px;}

